.article_image {
    padding: 5px;
    border: 1px solid #e4e4e4 !important;
    border-radius: 4px;
    box-shadow: 0 0 5px #e2e1e1;
}

.article_image img {
    width: 100%;
    height: auto;
}






/*dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd*/

.article_middle_content p,
.article_middle_content ul {
    display: block;
    font-family: sans-serif;
}

.article_heading_container {
}

.article_heading_container .article_heading {
    color: #333333 !important;
    text-align: left;
    text-transform: uppercase;
    font-size: 45px;
    font-family: sans-serif;
    letter-spacing: 2px;
}


.publish{    
    overflow: visible;
}
.publish_img_and_subheading{
    overflow: auto;
    border: none;
    padding: 10px 0px;
    border: 1px solid gainsboro;
    border-right: none;
    border-left: none;
}


.publish_img_and_subheading .publish_img,
.publish_img_and_subheading .publish_subheading{
    display: inline-block;
    float: left;
}
.publish_img{
    margin-right: 5px;
}
.publish_img_and_subheading .publish_img  img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 4px #333;
    margin: 5px;
}


.publish_img_and_subheading .publish_subheading{
    color: #333333;
    font: bold 19px sans-serif;
    font-family: sans-serif;
    text-transform: uppercase;
    width: 850px;
    text-align: justify;
    line-height: 1.3;
    margin-top: 5px; /* this margin should be same as above image's  margin*/
}


.publish_by_and_date{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.publish_by_and_date .publish_by,
.publish_by_and_date .publish_date{
    font: bold 15px sans-serif;
    margin-right: 30px;
    padding: 0px;
    color: white;
    background: orangered;
}

.publish_by_and_date .publish_by::before {
    content: 'a pen by - ';
    background: white;
    color: gray;
    font-weight: normal;
    text-transform: capitalize;
    padding-right: 5px;
}
.publish_by_and_date .publish_date::before {
    content: 'dated - ';
}

.publish_by_and_date .publish_by::before,
.publish_by_and_date .publish_date::before{
    background: white;
    color: #444444;
    font-weight: normal;
    text-transform: capitalize;
    padding-right: 5px;
}
.publish_by_and_date .publish_by,{
    
}
.publish_by_and_date .publish_date{
    font: bold 14px sans-serif;
          
}


.article_middle_content p {
    color: #4e4e4e;
    font-weight: 500;
    font-size: 17px;
    font-family: sans-serif;
    margin-top: 10px;
    line-height: 2;
    text-align: justify;
    margin-bottom: 30px;
}

.article_middle_content p strong  {
    
}

.article_middle_content p strong .special_link_inside_article {
    color: white;
    background: #3F51B5;
    text-decoration: underline;
    font-weight: normal !important;
    transition: all .4s ease-out;
	text-transform: capitalize;
}

.article_middle_content p strong .special_link_inside_article:hover {
    color: #3F51B5;
    background: white;
   
}

.special_para_inside_article {
    color: white !important;
    padding: 20px!important;
    background: #3f51b5!important;

}

.article_middle_content ul {
    display: block;
    border: none;
    margin-top: 10px;
}

.article_middle_content li {
    list-style: disc;
    margin-left: 30px;
    color: #777;
    font: normal 12px sans-serif;
    margin-top: 10px;
}

.writer_reached {
    margin: 10px 0px;
    background: #f7f7f7;
    padding: 9px 0px;
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    border-top: 5px solid #cecece;
}

.writer_reached_mail {
    background-color: #F44336 !important;
    color: white !important;

}

.writer_reached_fb {
    background-color: #3b5998 !important;
}

.writer_reached_tw {
    background-color: #55acee !important;
}

.writer_reached_insta {
    background: #E91E63;
}



.writer_reached_mail,
.writer_reached_fb,
.writer_reached_tw,
.writer_reached_insta {
    display: inline-block;
    color: white;
    font: bold 11px sans-serif;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 4px;
    text-decoration: none;
    margin: 10px 16px;
    border: 1px solid #c1c1c1;
}

.writer_reached_mail:hover,
.writer_reached_fb:hover,
.writer_reached_tw:hover,
.writer_reached_insta:hover {
    text-decoration: underline;
}

.writer_links {
    overflow: auto;
}

.writer_links a {
    display: inline-block;
    float: left;
}

.writer_links a img {
    width: 50px;
    height: auto;
}


.about_writer_desc {
    border: 1px solid gainsboro;
    margin: 60px 20px;
    padding: 20px 30px;
}

.writer_img_n_bio p {
    margin-bottom: 10px !important;
    font-size: 14px !important;
}

.writer_can_be_reached_at {
    text-transform: uppercase !important;
    font-size: 15px !important;
    color: #333!important;
}

.writer_can_be_reached_at b{
    text-transform: uppercase;
}

.writer_img_n_bio>img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}

.about_writer_desc .inner_name_n_at {
    text-align: center;
}

.about_writer_desc .writer_name {
    background: #333333;
    display: inline-block;
    color: white;
    font: normal 18px sans-serif;
    padding: 10px 30px;
    margin-bottom: 2px !important;
    text-transform: uppercase;
}


.about_writer_desc .at {
    color: #333333;
    font: bold 13px sans-serif;
    text-align: center;
    margin-bottom: 15px !important;
    text-transform: capitalize;
}

.one_image_caption {
    font: normal 20px sans-serif;
    text-align: justify;
    color: white;
    margin-top: 8px;
    float: left;
    width: 230px;
    margin-left: 16px;
}

.row {
    text-align: left;
}

.leave_a_comment {
    font-size: 20px !important;
    font-family: arial !important;
    text-transform: capitalize !important;
    color: black !important;
}

.form_type_text,
.form_type_email {
    width: 350px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .12);
    background: #fff;
    margin-right: 10px;
    padding: 10px;
}

.form_type_textarea {
    width: 750px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, .12);
    background: #fff;
    margin-right: 10px;
    padding: 10px;

}

.form_type_submit {
    font: 700 14px sans-serif;
    border: none;
    background: #ffd401;
    box-shadow: 0 3px 0 0 #ccaa01;
    color: #333;
    border-radius: 3px;
    padding: 18px 50px;
    cursor: pointer;
    margin: 26px 0px;
}