.ribbon_wrapper {
    border-top: 1px solid white;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
}

.ribbon_wrapper ul {
    border: none;
    list-style: none;
    width: 120%;
    height: 32px;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
    display: flex;
}

.ribbon_wrapper li {
    display: inline-block;
    height: 32px;
    overflow: hidden;
}

.ribbon_li1 {
    box-sizing: border-box;
    flex: 1;
    transform: skewX(60deg);
    position: relative;
    left: -30px;
    text-align: right;
    padding-right: 40px;
    background-color: #FFEB3B;
    background-color: #0fc955;
    color: white;
    border: none;
}

.ribbon_li2 {
    box-sizing: border-box;
    flex: 3;
    transform: skewX(60deg);
    position: relative;
    left: -20px;
    text-align: right;
    padding-right: 40px;
    background-color: tomato;
    text-align: left;
    border: none;
}

.ribbon_ques1 {
    position: relative;
    left: 10px;
    display: block;
    border: none;
    transform: skewX(-60deg);
    color: white;
    text-transform: uppercase;
    font: bold 20px Agency FB;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    box-sizing: border-box;
}

.ribbon_ans1 {
    position: relative;
    left: 40px;
    display: inline-block;
    transform: skewX(-60deg);
    border: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 17px Agency FB;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    box-sizing: border-box;
    transition: all .4s ease;
    margin-left: 1000px;
}